.nav-menu a
{
	color: #000 !important;
	cursor: pointer;
}
#logo,#nav-menu-container
{
    padding: 13px 0;
}
.nav-menu a:hover,.nav-menu a:focus
{
	cursor: pointer;
	background: #1522bf;
    color: white !important;
}